[Unit]
Description=openbank account vault configuration watcher
StartLimitBurst=5

[Service]
Type=oneshot
ExecStartPre=echo 'restarting vault (configuration has changed)'
ExecStart=/bin/sh -c 'systemctl restart vault.service'

[Install]
WantedBy=vault.service