[Unit]
Description=openbank account vault configuration watcher
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo reloading vault.service'
ExecStart=/bin/sh -c 'systemctl restart vault.service'
ExecStart=/bin/sh -c 'echo reloaded vault.service'

[Install]
WantedBy=multi-user.target 