Package: vault
Version: 1.0.2+debian-packaging
Architecture: arm
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: init-system-helpers (>= 1.18~), libzmq5 (= 4.2.1-4)
Section: openbank
Priority: extra
Vcs-Git: git@github.com:jancajthaml-openbank/vault.git
Description: Openbank account vault
